@function px2rem($val){
    @return $val  / 100 + rem;
}

@mixin flexs {
    display: flex;
    align-items:center;
}
@mixin center {
    @include flexs();
    justify-content: center;
}
@mixin left {
    @include flexs();
    align-items:flex-start;
    justify-content: flex-start;
}
@mixin right {
    @include flexs();
    justify-content: flex-end;
}
@function calcRem($val){
    @return calc(100%-$val) + rem 
}

$theme1:#FF606D;
$theme2:#FF6A9F;

$f14: px2rem(14);
$f16: px2rem(16);
$f18: px2rem(18);
$padding: px2rem(36);
$padding2: px2rem(24);
$headerH: px2rem(115);

