@import '../../assets/style/mixin.scss';
.app-mappic{
    width: 100%;
    height: 100%;
    font-size: px2rem(24);
    -webkit-overflow-scrolling: touch;
    .listViewItem{
        width: 50%;
        display: inline-block;
        overflow: hidden;
        padding:px2rem(23.5);
        a{
            width: 100%;
            height: 100%;
            text-align: center;
            img{
                width:100%;
            }
            .title{
                padding:px2rem(16) 0;
                color: #333;
                font-size: px2rem(29);
            }
        }
    }
}
.app-show{
    width: 100%;
    height: 100%;
    font-size: px2rem(24);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .title{
        padding: px2rem(29) px2rem(22);
        font-size: px2rem(36);
    }
    .show-body{
        width: 100%;
        img{
            width: 100%;
            display: block;
            margin-bottom: px2rem(22);
        }
    }
}
.aDisplayInlinBlock{
    display: inline-block;
}